
html,
body, #app, #main, .row {
  height: 100%;
  padding: 0;
  margin: 0;
}

.btn-outline-dark{
  border: 2px solid black;

}

.btn-group .btn-outline-dark{
  border-right: 0;
}


.btn-group .btn-outline-dark:last-child{
  border-right: 2px solid black;
}

body{
  overflow: hidden;
}

.col-md-4{
  border-left: 2px solid black;
}

.toolbar{
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: #EEEEEE;

}

.wdgt-side{
  background-color: white;
  overflow-y: auto;


}


.divider{
  border-top: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#preview{
   padding: 0;
   margin: auto;
   display: block;
   width: 800px;
}


.control{
    border-radius: 4px;
    color: white;
margin-bottom: 15px;

  padding-left: 20px;
  padding-right: 20px;

}

#canvaswrap{
  width: 800px;
  margin: 0 auto;
}


#c {
  width: 800px;
  height: 450px;
}

#exports{
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}


.brdr {
  border-left: 1px solid #DDD;
}


label {
  display: block;
  margin-bottom: 0.25rem;
  color: black;
}

#hald {
  border: 1px solid red;
}



.icon{
  width: 20px;
  display: inline-block;
}

.color{
  width: 15px;
  height: 15px;
  border: 1.5px solid white;
  border-radius: 50%;
  display: inline-block;
  vertical-align:sub;
}

.red{
background-color: #BB4C41;
}

.green{
background-color: #43966A;
}

.blue{
  background-color: #2558A3;
}


.btn-style{
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-outline-secondary{
  background: #46474E;
  border: none;
}

#fileInput{
  display: none;
}


.image-bar{
  padding-top: 15px;
  text-align: center;
}


canvas {
  width: 100%;
  object-fit: contain;
}

#image {
  display: none;
}

.w-33{
  width: 33.33333333%;
}

.w-60{
  width: 60%;
}

.label {
  margin-top: 10px;
  margin-bottom: 8px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.first {
  margin-top: 0;
}



/* --- range sliders --- */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
margin-top:1px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* thumb */
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
  border: 2px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  display: block;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
border: 2px solid black;
height: 20px;
width: 20px;
border-radius: 50%;
background: white;
cursor: pointer;
display: block;

}

/* thumb */
.slider-red input[type=range]::-moz-range-thumb {
background-color: #BB4C41;
}

.slider-red input[type=range]::-webkit-slider-thumb {
background-color: #BB4C41;
}

.slider-green input[type=range]::-moz-range-thumb {
background-color: #43966A;
}

.slider-green input[type=range]::-webkit-slider-thumb {
background-color: #43966A;
}

.slider-blue input[type=range]::-moz-range-thumb {
  background-color: #2558A3;
}

.slider-blue input[type=range]::-webkit-slider-thumb {
  background-color: #2558A3;
}

@media only screen and (max-width: 600px) {
  .controls{
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  #main{
    padding: 0;
  }

  #preview{
    width: 100%;
  }
}
